h1 {
  font-size: 4rem;
  text-align: center;
  margin: 5px;
}

input {
height: 2.5rem;
width: 30rem;
border-radius: 12px;
text-align: center;
font-size: 20px;
}

.homeContainer {
  display: flex;
  justify-content: center;
}