.dogCard {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap:0;
    justify-content: center;
    align-items: center;
    background-color: white;
}

h3{
    font-size: 25px;
    margin: 0;
}