.statContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: baseline;
}

table{
    margin: 0;
}

th,
td {
  font-size: 16px;
  padding-bottom: 2px;
}

th {
  width: 5rem;
}
td {
  width: 12rem;
}

.editInput {
    width: 3rem;
    height: 1rem;
    font-size: 16px;
}

.editBtn {
    width: 4rem;
    height: 30px;
    font-size: 16px;
}