.statContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 5px;
}

.stateTable{
    margin: 0;
}

.stateTh,
.stateTd {
  font-size: 20px;
  padding-bottom: 2px;
}

.stateTh {
  width: 5rem;
}
.stateTd {
  width: 12rem;
}

.editInput {
    width: 8rem;
    height: 1.2rem;
    font-size: 16px;
}

.editBtn {
    width: 4rem;
    height: 30px;
    font-size: 16px;
    background-color: rgba(215, 255, 226, 0.747);
    margin: 0;
}