h2 {
  font-size: 45px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
}

.teamContainer {
  display: flex;
  flex-direction: column;
  width: 60rem;
  justify-content: center;
  align-items: center;
}

.teamContainer ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.teamContainer ul li {
  height: 17rem;
  width: 52rem;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  row-gap: 0;
  padding-left: 10px;
background-color: white;
}

.backToHomeBtn {
  border: 2px solid black;
  border-radius: 10px;
  padding:0;
  box-shadow: 0 4px rgb(103, 103, 103);
  width: 5rem;
  height: 2rem;
  text-decoration: none;
  color: black;
  font-size: 20px;
  background-color: white;
  text-align: center;
  margin-right: 1rem;
}

table {
  margin: 0;
}

tr {
  padding: 0;
}
th,
td {
  font-size: 20px;
  padding: 6px;
  margin: 0;
}

th {
  width: 5rem;
}
td {
  width: 12rem;
}

.breedGroup {
  width: 7rem;
}

.noPack {
  font-size: 40px;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  width:50rem;
}

.removeBtn {
  background-color: rgb(249, 183, 183);
  width: 6rem;
}