h2 {
  font-size: 45px;
  text-align: center;
}

.teamContainer {
  display: flex;
  flex-direction: column;
  width: 60rem;
}


.teamContainer ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.teamContainer ul li {
  height: 15rem;
  /* width: 42rem; */
  width: 52rem;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  row-gap: 0;
  padding-left: 10px;
}

.backToHomeBtn {
  border: 2px solid black;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 0 4px rgb(103, 103, 103);
  width: 6.5rem;
  text-decoration: none;
}

table {
  margin: 0;
}
th,
td {
  font-size: 16px;
  padding-bottom: 2px;
}

th {
  width: 5rem;
}
td {
  width: 12rem;
}

.breedGroup {
  width: 7rem;
}

/* .lifeSpan {
  margin-bottom: 2px;
} */

/* .infoSection, .infoSection2{
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: auto;
  word-wrap: break-word;
  white-space: normal;
} */
